.my-login-container {
  padding-top: 30px;
  padding-bottom: 100px;
  /* Based on https://youtube.com/shorts/SGlpOnIgk1w?feature=share */
  width: min(100% - 2rem, 400px);
  margin-inline: auto;  
}

.align-card-btn-center {
  align-items: center;
  justify-content: center;
  display: flex;
}
