.my-login {
  padding-bottom: 4rem; /* Footer height */
}

.my-login-container {
  padding-top: 50px;
  padding-bottom: 100px;
}

.set-max-width-container-with-padding-login {
  /* Based on https://youtube.com/shorts/SGlpOnIgk1w?feature=share */
  width: min(100% - 2rem, 400px);
  margin-inline: auto;  
}

.align-card-btn-center {
  align-items: center;
  justify-content: center;
  display: flex;
}
