.dashboard-container {
  padding-top: 30px;
  padding-bottom: 50px;
}

.dashboard-container-max-width {
  /* Based on https://youtube.com/shorts/SGlpOnIgk1w?feature=share */
  width: min(100% - 2rem, 900px);
  margin-inline: auto;  
}

.line-below-dashboard {
  background-color: #c9e265;
  height: 5px;
}