.medium-text {
  font-size: 30px;
}

.publico-demo-iframe-container {
  align-items: center;
  justify-content: center;
  display: flex;
}

.publico-demo-iframe {
  width: min(1550px, 100% - 2rem);
  height: calc(100vh - 50px - 4rem);
  padding-bottom: 25px;
  padding-top: 5px;
}
