.my-home {
  padding-bottom: 4rem; /* Footer height */
}

.divider-green {
  width: 100%;
  padding: 5px;
  background-color: #c9e265;
}

.first-slide {
  padding-top: 25vh;
  padding-bottom: 35vh;
  color: black;
}

.type-animation-text {
  font-size: 100px;
  white-space: pre-line;
  height: 195px;
  display: block;
  text-decoration: underline;
  text-decoration-color: #c9e265;
}

.type-animation-text-mobile {
  font-size: 50px;
}

.second-slide, .third-slide, .fourth-slide {
  padding-top: 150px;
  padding-bottom: 150px;
}

.second-slide-mobile {
  padding-top: 75px;
  padding-bottom: 100px;
}

.third-slide-mobile, .fourth-slide-mobile {
  padding-top: 50px;
  padding-bottom: 75px;
}

.emphasized-text {
  text-decoration: underline;
  text-decoration-color: #c9e265;
  font-weight: bold;
}

.extra-padding-right {
  padding-right: 40px;
}

.set-max-width-container-with-padding-home {
  /* Based on https://youtube.com/shorts/SGlpOnIgk1w?feature=share */
  width: min(100% - 2rem, 900px);
  margin-inline: auto;  
}

.home-bullet-img {
  max-width: 40px;
  float: left;
  margin-right: 15px;
}
