.schedule-demo-container {
  max-width: 700px;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
}

.schedule-demo-container h1 {
  margin-bottom: 2rem;
}


.schedule-demo-container input,
.schedule-demo-container textarea {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.schedule-demo-container input[type="submit"] {
  background-color: #c9e265; 
  color: #333;
  font-weight: bold;
  border: none;
  padding: 1rem;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 4px;
}


.schedule-demo-container input[type="submit"]:hover {
  background-color: #b0b957;
  color: #fff;
}


.form-response-message {
  margin-top: 20px; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  color: #333;
  text-align: center;
}
