@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$light:      #f8f8f8;
$dark:       #0f0a2e;
$primary:    #cae364;
$secondary:  #d65d7e;
$info:       #8775c2;
$success:    #49c230;
$warning:    #fdcb62;
$danger:     #fb1c5a;
$primary-light: #e9f5ae;
$primary-dark: #446b1c;
// merge with existing $theme-colors map


$theme-colors: map-merge(
  $theme-colors, (
    "light": $light,
    "dark": $dark,
    "primary": $primary,
    "primary-light": $primary-light,
    "primary-dark": $primary-dark,
    "secondary": $secondary,
    "info": $info,
    "success": $success,
    "warning": $warning,
    "danger": $danger,
  ),
);

// set changes
