@font-face {
  font-family: 'Roxborough CF Bold';
  src: url('./assets/fonts/roxborough-cf-bold.ttf'); 
}

@font-face {
  font-family: 'Lora';
  src: url('./assets/fonts/Lora-Regular.ttf'); 
}

@font-face {
  font-family: 'Navbar-Buttons';
  src: url('./assets/fonts/navbar-buttons.woff2'); 
}

body {
  margin: 0;
  font-family: 'Roxborough CF Bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* The below 2 attributes add the green border around the page */
  background-color: #c9e265;
  border: 5px solid #c9e265;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-family: 'Lora';
  font-size: larger;
}

form {
  font-family: 'Lora';
}

.center-align {
  text-align: center;
}
